In [196]:
import pandas as pd
import numpy as np

In [197]:
path='https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-ML0101EN-SkillUp/labs/ML-FinalAssignment/Weather_Data.csv'
df = pd.read_csv(path)
df.head(10)

,Date,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2/1/2008,19.5,22.4,15.6,6.2,0.0,W,41,S,SSW,...,92,84,1017.6,1017.4,8,8,20.7,20.9,Yes,Yes
1,2/2/2008,19.5,25.6,6.0,3.4,2.7,W,41,W,E,...,83,73,1017.9,1016.4,7,7,22.4,24.8,Yes,Yes
2,2/3/2008,21.6,24.5,6.6,2.4,0.1,W,41,ESE,ESE,...,88,86,1016.7,1015.6,7,8,23.5,23.0,Yes,Yes
3,2/4/2008,20.2,22.8,18.8,2.2,0.0,W,41,NNE,E,...,83,90,1014.2,1011.8,8,8,21.4,20.9,Yes,Yes
4,2/5/2008,19.7,25.7,77.4,4.8,0.0,W,41,NNE,W,...,88,74,1008.3,1004.8,8,8,22.5,25.5,Yes,Yes
5,2/6/2008,20.2,27.2,1.6,2.6,8.6,W,41,W,ENE,...,69,62,1002.7,998.6,6,6,23.8,26.0,Yes,Yes
6,2/7/2008,18.6,26.3,6.2,5.2,5.2,W,41,W,S,...,75,80,999.0,1000.3,4,7,21.7,22.3,Yes,Yes
7,2/8/2008,17.2,22.3,27.6,5.8,2.1,W,41,S,SE,...,77,61,1008.3,1007.4,7,8,18.9,21.1,Yes,Yes
8,2/9/2008,16.4,20.8,12.6,4.8,3.0,W,41,SSW,W,...,92,91,1006.4,1007.6,7,7,17.1,16.5,Yes,Yes
9,2/10/2008,14.6,24.2,8.8,4.4,10.1,W,41,W,SSE,...,80,53,1014.0,1013.4,4,2,17.2,23.3,Yes,No

In [198]:
df.shape

(3271, 22)

In [199]:
df.columns

Index(['Date', 'MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation', 'Sunshine',
       'WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm',
       'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm',
       'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am',
       'Temp3pm', 'RainToday', 'RainTomorrow'],
      dtype='object')

In [200]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3271 entries, 0 to 3270
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           3271 non-null   object
 1   MinTemp        3271 non-null   float64
 2   MaxTemp        3271 non-null   float64
 3   Rainfall       3271 non-null   float64
 4   Evaporation    3271 non-null   float64
 5   Sunshine       3271 non-null   float64
 6   WindGustDir    3271 non-null   object
 7   WindGustSpeed  3271 non-null   int64
 8   WindDir9am     3271 non-null   object
 9   WindDir3pm     3271 non-null   object
 10  WindSpeed9am   3271 non-null   int64
 11  WindSpeed3pm   3271 non-null   int64
 12  Humidity9am    3271 non-null   int64
 13  Humidity3pm    3271 non-null   int64
 14  Pressure9am    3271 non-null   float64
 15  Pressure3pm    3271 non-null   float64
 16  Cloud9am       3271 non-null   int64
 17  Cloud3pm       3271 non-null   int64
 18  Temp9am        3271 non-null   float64
 19  Temp3pm        3271 non-null   float64
 20  RainToday      3271 non-null   object
 21  RainTomorrow   3271 non-null   object
dtypes: float64(9), int64(7), object(6)
memory usage: 562.3+ KB

In [201]:
df.dtypes

Date              object
MinTemp          float64
MaxTemp          float64
Rainfall         float64
Evaporation      float64
Sunshine         float64
WindGustDir       object
WindGustSpeed      int64
WindDir9am        object
WindDir3pm        object
WindSpeed9am       int64
WindSpeed3pm       int64
Humidity9am        int64
Humidity3pm        int64
Pressure9am      float64
Pressure3pm      float64
Cloud9am           int64
Cloud3pm           int64
Temp9am          float64
Temp3pm          float64
RainToday         object
RainTomorrow      object
dtype: object

In [233]:
df.duplicated().sum()

0

In [235]:
df.isnull().sum()

Date             0
MinTemp          0
MaxTemp          0
Rainfall         0
Evaporation      0
Sunshine         0
WindGustDir      0
WindGustSpeed    0
WindDir9am       0
WindDir3pm       0
WindSpeed9am     0
WindSpeed3pm     0
Humidity9am      0
Humidity3pm      0
Pressure9am      0
Pressure3pm      0
Cloud9am         0
Cloud3pm         0
Temp9am          0
Temp3pm          0
RainToday        0
RainTomorrow     0
dtype: int64

In [202]:
df1=pd.get_dummies(data=df, columns=["WindDir9am","WindDir3pm","WindGustDir","RainToday"])

In [203]:
df1.head(5)

,Date,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,...,WindGustDir_S,WindGustDir_SE,WindGustDir_SSE,WindGustDir_SSW,WindGustDir_SW,WindGustDir_W,WindGustDir_WNW,WindGustDir_WSW,RainToday_No,RainToday_Yes
0,2/1/2008,19.5,22.4,15.6,6.2,0.0,41,17,20,92,...,0,0,0,0,0,1,0,0,0,1
1,2/2/2008,19.5,25.6,6.0,3.4,2.7,41,9,13,83,...,0,0,0,0,0,1,0,0,0,1
2,2/3/2008,21.6,24.5,6.6,2.4,0.1,41,17,2,88,...,0,0,0,0,0,1,0,0,0,1
3,2/4/2008,20.2,22.8,18.8,2.2,0.0,41,22,20,83,...,0,0,0,0,0,1,0,0,0,1
4,2/5/2008,19.7,25.7,77.4,4.8,0.0,41,11,6,88,...,0,0,0,0,0,1,0,0,0,1

In [204]:
df1.replace(['No','Yes'],[0.0,1.0],inplace=True)

In [205]:
df1.dtypes

Date                object
MinTemp            float64
MaxTemp            float64
Rainfall           float64
Evaporation        float64
                    ...
WindGustDir_W        uint8
WindGustDir_WNW      uint8
WindGustDir_WSW      uint8
RainToday_No         uint8
RainToday_Yes        uint8
Length: 68, dtype: object

In [206]:
df1.drop('Date',axis=1,inplace=True)

In [207]:
df1=df1.astype(float)

In [208]:
X=df1.drop(columns=['RainTomorrow'],axis=True)
Y=df1['RainTomorrow']

In [209]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.333,random_state=10)

In [210]:
# Linear Regression
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import sklearn.metrics as metrics

In [211]:
LinearR=LinearRegression().fit(X_train,Y_train)

In [212]:
pred=LinearR.predict(X_test)

In [213]:
LinearRegression_MAE = metrics.mean_absolute_error(pred,Y_test)
LinearRegression_MSE = metrics.mean_squared_error(pred,Y_test)
LinearRegression_R2 = metrics.r2_score(pred,Y_test)

In [214]:
print("Linear Regression")
ReportL = { 'Parameter':['mae','mse','r2'],
          'score':[LinearRegression_MAE,LinearRegression_MSE,LinearRegression_R2]
         }
ReportLdf=pd.DataFrame(ReportL)
ReportLdf

Linear Regression

  Parameter     score
0       mae  0.260831
1       mse  0.121527
2        r2 -0.585898

In [215]:
# KNN
from sklearn.neighbors import KNeighborsClassifier
KNN=KNeighborsClassifier(n_neighbors=4).fit(X_train,Y_train)

In [216]:
pred_knn=KNN.predict(X_test)

In [217]:
from sklearn.metrics import jaccard_score
from sklearn.metrics import f1_score
from sklearn.metrics import accuracy_score

KNN_Accuracy_Score = accuracy_score(pred_knn,Y_test)
KNN_JaccardIndex = jaccard_score(pred_knn,Y_test)
KNN_F1_Score = f1_score(pred_knn,Y_test)

In [218]:
print("KNN")
ReportKNN = { 'Parameter':['Acc_score','JacIndex','F1_score'],
          'score':[KNN_Accuracy_Score,KNN_JaccardIndex,KNN_F1_Score]
         }
ReportKNNdf=pd.DataFrame(ReportKNN)
ReportKNNdf

KNN

   Parameter     score
0  Acc_score  0.816514
1   JacIndex  0.404762
2   F1_score  0.576271

In [219]:
# Decision Tree
from sklearn.tree import DecisionTreeClassifier

Tree=DecisionTreeClassifier().fit(X_train,Y_train)

In [220]:
pred_tree=Tree.predict(X_test)

In [221]:
Tree_Accuracy_Score = accuracy_score(Y_test,pred_tree)
Tree_JaccardIndex = jaccard_score(Y_test,pred_tree)
Tree_F1_Score = f1_score(pred_tree,Y_test)

In [222]:
print("Decision Tree")
ReportTree = { 'Parameter':['Acc_score','JacIndex','F1_score'],
          'score':[Tree_Accuracy_Score,Tree_JaccardIndex,Tree_F1_Score]
         }
ReportTreedf=pd.DataFrame(ReportTree)
ReportTreedf

Decision Tree

   Parameter     score
0  Acc_score  0.758716
1   JacIndex  0.392610
2   F1_score  0.563847

In [223]:
# Logistic Regression
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import log_loss

LR=LogisticRegression(solver="liblinear").fit(X_train,Y_train)

In [224]:
pred_LR=LR.predict(X_test)
pred_prob=LR.predict_proba(X_test)

In [225]:
LR_Accuracy_Score = accuracy_score(Y_test,pred_LR)
LR_JaccardIndex = jaccard_score(Y_test,pred_LR)
LR_F1_Score = f1_score(Y_test,pred_LR)
LR_Log_Loss = log_loss(Y_test,pred_prob)

In [226]:
print("Logistic Regression")
ReportLR = { 'Parameter':['Acc_score','JacIndex','F1_score','LogLoss'],
          'score':[LR_Accuracy_Score,LR_JaccardIndex,LR_F1_Score,LR_Log_Loss]
         }
ReportLRdf=pd.DataFrame(ReportLR)
ReportLRdf

Logistic Regression

   Parameter     score
0  Acc_score  0.835780
1   JacIndex  0.487106
2   F1_score  0.655106
3    LogLoss  0.372018

In [227]:
# SVM
from sklearn import svm

SVM=svm.SVC().fit(X_train,Y_train)

In [228]:
pred_svm=SVM.predict(X_test)

In [229]:
SVM_Accuracy_Score = accuracy_score(Y_test,pred_svm)
SVM_JaccardIndex = jaccard_score(Y_test,pred_svm)
SVM_F1_Score = f1_score(Y_test,pred_svm)

In [230]:
print("SVM")
ReportSVM = { 'Parameter':['Acc_score','JacIndex','F1_score'],
          'score':[SVM_Accuracy_Score,SVM_JaccardIndex,SVM_F1_Score]
         }
ReportSVMdf=pd.DataFrame(ReportSVM)
ReportSVMdf

SVM

   Parameter     score
0  Acc_score  0.725688
1   JacIndex  0.000000
2   F1_score  0.000000

In [231]:
# Comparing all algorithms
Report={ 'Model':['KNN','Tree','LogisReg','SVM'],
        'Acc_Score':[KNN_Accuracy_Score,Tree_Accuracy_Score,LR_Accuracy_Score,SVM_Accuracy_Score],
        'Jaccard Index':[KNN_JaccardIndex,Tree_JaccardIndex,LR_JaccardIndex,SVM_JaccardIndex],
        'F1 Score':[KNN_F1_Score,Tree_F1_Score,LR_F1_Score,SVM_F1_Score],
        'Log Loss':[np.nan,np.nan,LR_Log_Loss,np.nan]
}
Reportdf=pd.DataFrame(Report)
Reportdf

      Model  Acc_Score  Jaccard Index  F1 Score  Log Loss
0       KNN   0.816514       0.404762  0.576271       NaN
1      Tree   0.758716       0.392610  0.563847       NaN
2  LogisReg   0.835780       0.487106  0.655106  0.372018
3       SVM   0.725688       0.000000  0.000000       NaN